@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);

html, body { 
	min-height: 100%;
	color: #5E5353 !important;	/* #ffffff !important;  
	background: #131313 url('../img/surface-945444.jpg') no-repeat center center;	*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: Montserrat, Helvetica;
}
body {
	padding-top: 80px;
/*	background-image: url('../matthew-henry-49707.jpg');  */
/*	background: #131313 url('../img/surface-945444.jpg') no-repeat center;	/*	 fixed; 	 */
/*	background-size: contain; */

/*	background-attachment: fixed 	*/
}
body > img {
	filter: blur(7px);
}

.full {
	height: 100vh;
}
.menu {
	background: #696969;
}

.opacity {
/*	background: #696969; */
/*	background: rgb(54, 25, 25);/* Fall-back for browsers that don't support rgba */
/*	background: rgba(25, 25, 25, 1); /* 54,25,25,.2 */
    filter:alpha(opacity=80);
    opacity: 0.8;
    -moz-opacity:0.8;

 }
 nav {
	/*display: flex; 
	justify-content: center;*/
	font-size: 1em;
 }
 .nav p {
	width: 80%; margin: 0 auto; vertical-align: middle; display: table-cell;
 }
 .logo {
	font-size: 2em;
	padding: 0 0 0 0;
 }
 .mid {
	text-align: center; 
	display: table;
 }
 .mid p {
	display: table-cell;
	vertical-align: middle;
	float: left;
 }
 .toplink {
	float: right;
 }
 .midout {
	position: relative;
	float: left;
 }
 .midin {
	position: absolute;
	top: 50%; 
	transform: translateY(-50%);
 }
 .kloc {
/*	min-height: 900px;*/
/*	float: left; */
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand > img {				
/*	navbar-brand > img - dla img z klas¹ navbar-brand - bez dziedziczenia przez dzieci   */	
	height: 100%;	/* 100% auto-obrazek nie pomniejszony/niedopasowany*/
	padding: auto ; /* auto - zmienilem z 15px  - wtedy byl bardzo maly obrazek*/
	width: auto;
}
a {
	color: #ffffff !important;
}
a:hover { 
	color: #FFA500 !important;
}
nav {
	border: none;
}
.footer {
	background-color: grey;
}
.bg1 {background: #aaaaaa;} /* rgba(20, 20, 20, 1) */

.bg2 {background: #919191;} /* rgba(15, 15, 15, 1) */

.bottom-menu {
	background: rgba(25, 25, 25, 1); /* 54,25,25,.2 */
}
 .copy	{
	text-align: center; 
	padding: 0.5em; 
	margin: 0.5em 0; 
	background-color: grey;
}
.foot h5{
	display: inline;
}	
.foot2 a {
	color: white; 
	padding: 1em 0.5em 1em 0.5em;
}
.foot2 {
	display: inline;
	text-align: center;
/*	min-height: 0.5em;  */
	background-color: darkgrey; 
	width: max;
/*	padding: 0px;
	margin: 0px;	*/
}
.foot2 h5 {
	margin: 10px;
	padding: 20px
}
.main {
/*	background: url('../img/DSC_6174_1.png') no-repeat center fixed; 	*/
/*	color: #555;	*/
/*	color: darkgrey; */
	min-height: 80vh;
	text-align: center; 
	padding-bottom: 4vh; 
}
.main h2 {
	text-align: center; 
}
.main img {
	width: 30%; /* 30vh*/
	padding: 5vh 0;
}
.main-left {
/*	color: darkgrey;	*/
	min-height: 80vh;
	text-align: left; 
	padding-bottom: 4vh; 
}
.term td , th{
	width: 33%;
}
.term tr {
	border-bottom: 1px black;
}
.contact {
	padding: 1em 0 2em 0;
}
form legend {
	color: darkgrey;
}
form a {
	color: darkgrey !important;
}
form a:hover { 
	color: #FFA500 !important;
}
.contact button {
	background-color: #808080;
}
.contact button:hover {
	background-color: #696969;
}
.contact button:link {
	background-color: #FFA500;
}
.logo-h {
	padding: 5px 0 5px 0;
} 
.logo-m img {
	width: 100%;
}
.grey {
	background-color: grey;
}
.dark {
	color: black;
	text-align: center;
}
.full-logo {
/*	background: url('../img/surface-945444.jpg') no-repeat center center; /*	fixed; 		*/
	background-size: cover;
	min-height: 70vh;
/*	border: 1px dotted pink;	*/
/*	color: #fff !important;	*/
}